
.imgSliderImg{
    width: 100%;
    height: 500px;
    background-position:top;
    background-repeat:no-repeat;
    background-size:cover;
    overflow: hidden;
    box-shadow: 0px 2px 27px -1px rgba(0,0,0,0.69);
    -webkit-box-shadow: 0px 2px 27px -1px rgba(0,0,0,0.69);
    -moz-box-shadow: 0px 2px 27px -1px rgba(0,0,0,0.69);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.imgSliderContainer{
    display: flex;
    align-self: flex-end;
    margin-bottom: 10px;
    flex-direction: row;
    align-items: center;
}
.flexSlider{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 100%;
    justify-content: space-between;
}
.flexSlider> h1{
    margin: 0%;
    width: 50%;
    border-radius: 0 0 25px 0;
    font-family: verdana;
    color:rgb(240, 207, 20);
    font-size: 11px;
    background-color: rgb(5, 5, 2);
}

.imgSliderImg-button{
    border-radius: 25px;
    border: transparent;
    background-color: rgba(233, 237, 240, 0.795);
    padding: 15px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    transition: all 0.2s;
}
.imgSliderImg-button:hover{
    background-color: rgb(233, 237, 240);
    transform: translateY(-4px);
}

@media screen and (max-width: 800px) {

    .imgSliderImg{
        background-size:cover;
        width: 100%;
        height: 200px;
   
    }
    .flexSlider{
        height: 500px;
    }
    .imgSliderImg-button{
        margin-bottom: 30px;
        padding: 5px;
    }

    .flexSlider > h1{
        width: 90%;
        height: 10px;
        padding-left: 12px;
        background-color: rgba(0, 0, 0, 0.829);
        font-size: 7px;
    }
}

