.container-intro-redes{
    display: flex;
   justify-content: flex-end;
   
}

.introContainer{
    width: 100%;
    font-family: 'BenchNine';
    text-align: center;
    background-color: rgb(240, 207, 20);
}

.intro-p{
    width: 70%;
    font-size: 30px;
    margin-left: 10%;
    justify-content: center;
    text-align: justify;
    animation: textanimation;
    height: 500px;
    
    margin-right: 10px;
    animation-duration: 2.3s;
}
.scroller{
    overflow-y: scroll;
}

.scroller::-webkit-scrollbar {
  margin: 10px;
}
.scroller::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: antiquewhite;
    box-shadow: 77px -4px 0px -30px rgba(0,0,0,1);
-webkit-box-shadow: 77px -4px 0px -30px rgba(0,0,0,1);
-moz-box-shadow: 77px -4px 0px -30px rgba(0,0,0,1);
  }

.intro-p > h2 {
    font-weight: 600;
    margin:0px;
}

.intro-p > ul {
    margin:0px;
    margin-bottom: 5px;
}

.title{
    animation:titleanimation;
    animation-duration: 2s;
}

@keyframes titleanimation {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes textanimation {
    0%{
        opacity: 0;
    }
    30%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}





.miniNavBar{    
 margin-top: -14px;
 z-index: 1;
 display: flex;
 width: 100%;
 height: fit-content;
 background: rgb(0, 0, 0);

}
.miniNavBarButton {
    display: flex;
    height: 100px;
    align-items:center;
    background-color: rgba(240, 248, 255, 0);
    border: transparent;
    width: 100%;
    font-size: 30px;
    z-index: 2;
    font-family: 'BenchNine';
    font-weight:200;
    color: rgb(255, 255, 255);
    transition: all 0.4s;
}

.miniNavBarButton  > img{
   width: auto;
   height: 100%;
   margin-right: 10%;
   margin-left: 5%;
}

.miniNavBarButton:hover{
    cursor: pointer
}




@media screen and (max-width: 620px) {
    
    .intro-p{
        width: 80%;
        font-size: 16px;
        margin-left: 10%;
        
    }
    .miniNavBarButton{
        height: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .miniNavBar > img{
    image-rendering: pixelated;
    }

    .miniNavBarButton > h2{
        font-size: 16px;
    }

  

    .scroller::-webkit-scrollbar {
        width: 12px;
    }
}